BasedOnStyle: Google
IndentWidth: 4
InsertBraces: true
ColumnLimit: 79
AlignConsecutiveMacros: Consecutive
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
